<h1>Listing Tales</h1>
<hr>

<table >
	


	<% @articles.each do |article| %>
	<tr>

		<th><%= article.title %></th>
		<td height="50"> </td>
		
		<td><button type="submit" class="btn btn-default"><%= link_to 'Show', article_path(article) %></button></td>
		

		<td><button type="submit" class="btn btn-default"><%= link_to 'Edit', edit_article_path(article) %></button></td>
		
		<td><button type="submit" class="btn btn-default"><%= link_to 'Destroy', article_path(article), method: :delete, data:{confirm: 'Are you sure?'} %></button></td>

	</tr>



	<% end %>

</table>
<hr>

<button type="submit" class="btn btn-default"><%= link_to 'New Tale', new_article_path %></button>
