<table>
<td width="200"></td>
<td>
<p>
  
  <strong> <%= @article.title %> </strong>
</p>
 
<p>
  <%= @article.text %>
  
</p>
 
<hr >

<%= render @article.comments %>
 

<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
  <h3> <span class="label label-warning"><%= f.label :commenter %><br></span></h3>

    
    <%= f.text_field :commenter, :size => "40" %>
  </p>
  <p>
   <h3> <span class="label label-warning"><%= f.label :body %></span></h3>

    <br>

    <%= f.text_area :body, :size => "100" %>
  </p>
  <p>

    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</td>
<td width="200"></td>

</table>





  
   


